{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>PostgreSQL stats</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<div>

    <h1 class="stats-text stats-header">PostgreSQL DB statistics</h1>
    <h4 class="stats-text stats-db-info">Database: <span id="db-name"></span></h4>
    <h4 class="stats-text stats-db-info">Host: <span id="db-host"></span></h4>
</div>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Basic')">Basic stats</button>
    <button class="tablinks" onclick="openTab(event, 'Relation')">Relation sizes</button>
    <button class="tablinks" onclick="openTab(event, 'Table')">Index stats</button>
    <button class="tablinks" onclick="openTab(event, 'Blocked')">Blocked activities</button>
</div>

<!-- Tab content -->
<div id="Basic" class="tabcontent">
    <p><b>Database Connections</b>: <span id="amount-of-connections"></span></p>
    <h4>Connections by state:</h4>
    <div class="container">
        <div id="connections-by-state">

        </div>
    </div>
    <p><b>Connections awaiting lock:</b> <span id="connections-awaiting-lock"></span></p>
    <p><b>Database size:</b> <span id="db-size"></span></p>
    <p><b>Max transaction age:</b> <span id="max-transaction-age"></span></p>

</div>

<div id="Relation" class="tabcontent">
    <div id="relation-sizes-chart"></div>
    <div id="relation-sizes"></div>
</div>

<div id="Table" class="tabcontent">
    <div class="minimalistBlack">
        <table id="indexes"></table>
    </div>
</div>

<div id="Blocked" class="tabcontent">
    <div class="minimalistBlack">
        <table id="locks"></table>
    </div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

</html>